@import 'Variables';

.banner {
  .banner-slogan {
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    position: relative;
    border-radius: $border-radiustwo; 
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: $color-overlay; 
      border-radius: $border-radiustwo; 
      z-index: 0;
    }

    .slogan-background {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 270px;
      position: relative;

      h1 {
        color: $color-text-white; 
        padding: 20px;
        margin: 0;
        z-index: 1;
        font-family: $font-family-main;
        font-size: 48px;
        font-weight: 700;
        line-height: 68.45px;
        text-align: left;
        text-shadow: 
        -0.5px -0.5px 0 #000,  
         0.5px -0.5px 0 #000,
        -0.5px 0.5px 0 #000,
         0.5px 0.5px 0 #000;
    
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .banner {
    .banner-slogan {
      margin-top: 8%;
      margin-left: 5%;
      margin-right: 5%;

      .slogan-background {
        height: 120px;

        h1 {
          font-size: 22px;
          line-height: 1.5;
          margin-right: 90px;
          
        }
      }
    }
  }
}
