.carousel-container {
  position: relative;
  height: 415px;
  margin: 5% 8%; /* Centrer le carrousel si nécessaire */

  img {
    width: 100%;
    height: 100%; /* Ajuster la hauteur de l'image */
    object-fit: cover;
    border-radius: 20px;
  }

  .carousel-counter {
    position: absolute;
    bottom: 10px; /* Distance du bas de l'image */
    left: 50%; /* Centrage horizontal */
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.7); /* Fond semi-transparent */
    padding: 5px 10px; /* Espace autour du texte */
    border-radius: 10px; /* Coins arrondis */
    color: white; /* Couleur du texte */
    font-weight: bold; /* Police en gras */
    font-size: 16px; /* Taille de la police */
  }

  .carousel-control {
    position: absolute;
    top: calc(50% + 30px); /* Déplacer légèrement les flèches vers le bas */
    transform: translateY(-50%);
    cursor: pointer;
    color: white;
    border-radius: 50%;
    width: 50px; /* Taille des flèches */
    height: 50px; /* Taille des flèches */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s;

    font-size: 30px; /* Taille de l'icône plus grande */

    &:hover {
      transform: scale(1.2) translateY(-50%);
      background: rgba(255, 255, 255, 0.7); /* Fond plus sombre au survol */
    }

    &.left {
      left: 20px; /* Moins sur le bord */
    }

    &.right {
      right: 20px; /* Moins sur le bord */
    }
  }
}
