@import 'Variables'; // Assurez-vous que le chemin d'importation des variables est correct

.tabs-container {
  display: flex;
  flex-direction: column;

}

.tab {
  cursor: pointer;
  border: none;
  margin: 0 12% ; // Marges latérales ajustées pour 9% à gauche et à droite

  button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 25px;
    color: white;
    text-align: left;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px; // Bordures arrondies pour un look plus doux
    font-family: $font-family-main;
    font-size: 24px;
    font-weight: 700;
    line-height: 25.67px;
    text-align: left;
    

    .chevron {
      color: white;
      transition: transform 0.3s ease;
      font-size: 16px;

      &.active {
        transform: rotate(-180deg); // Rotation du chevron pour l'état ouvert
      }
    }
  }
}

.tab-content {
  display: none;
  position: absolute;
  width: 100%; // Assurez-vous que le contenu s'étend sur toute la largeur disponible
  left: 0;
  z-index: 1000; // Gardez-le au-dessus d'autres contenus
  &.active {
    display: block;
    padding: 16px;
    background-color: darken(grey, 5%); // Fond légèrement plus foncé pour le contenu actif
    color: white;
    border-radius: 5px; // Bordures arrondies pour le contenu
  }
}

.dropdown-menu {
  .tab {
    button {
      background-color: $color-red; // Utilisation de la couleur gris pour uniformité
      margin-top : 10px;
  
    }
  }

  .dropdown-description {
    padding: 10px;
    background-color: #eeeeee; // Utilisation d'un gris clair pour la description
    color: black; // Texte noir pour un contraste élevé
    font-family: 'Montserrat', sans-serif; // Utilisation de la police Montserrat
    font-size: 18px;
    font-weight: 400;
    line-height: 25.67px;
    text-align: left; // Alignement du texte à gauche
    margin: 0% 12% ; // Marge réintroduite pour un affichage avec espace
    box-shadow: none; // Suppression de l'ombre portée
  }
}