@import 'Variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: $color-footer-background; 
  left: 0;
  width: 100%;
  margin-top: 3%;
}

.footer-logo {
  width: 130px;
  height: auto;
  margin-bottom: 1rem;
}

.footer p {
  color: $color-footer-text;
  margin: 0;
  font-family: $font-family-main;
  font-size: 24px;
  font-weight: 500;
  line-height: 34.22px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .footer p {
    font-size: 18px; 
    line-height: 24px; 
    display: block; 
    max-width: 60%; 
    margin: auto; 
  }
}
