@import 'Variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: $color-footer-background; 
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.footer-logo {
  width: 130px;
  height: auto;
  margin-bottom: 1rem;
}

.footer p {
  color: $color-footer-text;
  margin: 0;
  font-family: $font-family-main;
  font-size: 24px;
  font-weight: 500;
  line-height: 34.22px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .footer p {
    font-size: 18px; /* Réduction de la taille de police pour les appareils mobiles */
    line-height: 24px; /* Réduction de l'interligne */
    display: block; /* Force le texte à être sur deux lignes */
    max-width: 60%; /* Limite la largeur pour assurer le saut de ligne */
    margin: auto; /* Centre le texte horizontalement */
  }
}
