@import 'Variables';

.banner-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
}

.banner-nav {
    ul {
        list-style: none;
        display: flex;
        gap: 60px;

        li a {
            text-decoration: none;
            color: $color-black; 
            font-family: $font-family-main;
            font-size: 24px;
            font-weight: 500;
            line-height: 34.22px;
            text-align: right;
        }

        li .active {
            text-decoration: underline;
        }
    }
}

@media screen and (max-width: 768px) {
    .banner-logo {
        width: 130px; /* Taille normale du logo */
        height: auto;
    }
    
    .banner-nav ul {
        gap: 20px; 
        text-transform: uppercase; 
    }

    .banner-nav ul li a {
        font-size: 13px; /* Taille de police réduite pour les appareils mobiles */
    }
}
