@import 'Variables'; // Importation des variables SCSS

.not-found-title {
  color: $color-red; 
  font-family: $font-family-main; 
  font-weight: 700;
  line-height: 410.69px;
  text-align: center;
}

p {
  font-family: $font-family-main;
  font-size: 36px;
  font-weight: 500;
  line-height: 51.34px;
  text-align: center;
  color: $color-red; 
  padding: 20px;
}

.link a {
  font-family: $font-family-main; 
  font-size: 18px;
  font-weight: 500;
  line-height: 25.67px;
  text-align: left;
  color: $color-black; 
  padding: 10px 20px; 
  display: inline-block; 

}
