// LogementDetails.scss
@import 'Variables';

.logement-details {
  display: flex;
  align-items: flex-start;
  text-align: left;
}

.left-column, .right-column {
  display: flex;
  flex-direction: column;
  margin: 3% 8%;
}

.logement-title {
  font-family:$font-family-main ;
  font-size: 36px;
  font-weight: 500;
  line-height: 51.34px;
  text-align: left;
  color: $color-red;
  margin-bottom: 0.2em;
}

.logement-location {
  font-family:$font-family-main;
  font-size: 18px;
  font-weight: 500;
  line-height: 25.67px;
  margin-bottom: 15px;
}

.logement-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-family:$font-family-main ;
  font-size: 14px;
  font-weight: 700;
  text-align: center;

}

.tag {
  padding: 8px 10px;
  border-radius: 5px;
  border-radius: 15px; // Augmente le rayon de bordure pour plus d'arrondi
  background-color: $color-red; // Utilisez votre variable de couleur pour le fond
  color: $color-footer-text; // Choisissez une couleur de texte appropriée pour assurer le contraste
  font-weight: bold; // Optionnel: Rendre le texte en gras
  margin-right: 20px; // Ajoutez de la marge à droite si vous voulez espacer les tags
  margin-bottom: 10px; // Ajoutez de la marge en bas pour l'espacement entre les lignes de tags
  border: 1px solid $color-red; // Si vous souhaitez avoir une bordure en plus du fond
}

.logement-host {
  display: flex;
  align-items: center;
}

.host-name {
  margin-right: 10px;
  font-family: $font-family-main;
  font-size: 18px;
  font-weight: 500;
  line-height: 25.67px;
  color: $color-red; 
}

.host-image {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.logement-rating {
  display: flex;
  color: #ff5a5f;
  font-size: 23px;
}

.logement-rating .empty {
  color: #ccc;
}

  .left-column {
    flex-grow: 2;
  }

  .right-column {
    flex-grow: 1;
    align-items: flex-end;
  }

