@import 'Variables';

.tabs-container {
    display: flex;
    flex-direction: column;
    width: 100%; 

  }
  
  .tab {
    background-color: red;
    color: white;
    padding: 1rem;
    margin-bottom: 0.5rem;
    position: relative;
    font-size: 1rem;
    border: none;
    text-align: left;
    width: 100%; 
    cursor: pointer;
    transition: background-color 0.3s; 

    &:before {
      content: '';
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%) rotate(90deg); 
      border: solid white;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 3px;
    }
  
    &:hover {
      background-color: darken(red, 10%); 
    }
  
    &.active {
      background-color: darken(red, 10%); 
  
      &:before {
        transform: translateY(-50%) rotate(-90deg); 
      }
    }
  }
  
  .tab-content {
    display: none;
    &.active {
      display: block;
      padding: 1rem;
      background-color: darken(red, 10%);
      color: white;
    }
  }
  