@import 'Variables';

.tabs-container {
  display: flex;
  flex-direction: column;
}

.tab {
  width: 100%; // S'assurer que chaque onglet prend toute la largeur du conteneur
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;

  .tab-button {
    display: block; // S'assurer que le bouton s'étend sur toute la largeur
    width: 100%;
    padding: 16px; // Ajuster au besoin
    background-color: #F44336; // Rouge pour non-sélectionné
    color: white;
    text-align: left;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken(#F44336, 10%); // Foncer au survol
    }

    &:focus {
      outline: none;
    }
  }

  &.active .tab-button {
    background-color: #D32F2F; // Rouge plus foncé pour l'onglet actif
  }

  &:before {
    // ... autres styles pour l'indicateur (pas de changement ici)
  }
}

.tab-content {
  display: none; // Cacher le contenu non actif
  &.active {
    display: block; // Montrer le contenu actif
    padding: 16px;
    background-color: #D32F2F; // Rouge plus foncé pour le contenu actif
    color: white;
  }
}
