// Couleurs
$color-white: #fff;
$color-black: #000;
$color-text-white: white;
$color-footer-background: black;
$color-footer-text: white;
$color-tab-active: red;
$color-red: #FF6060;
$color-overlay: rgba(0, 0, 0, 0.6);
$color-grey:#F6F6F673;



// Polices
$font-family-main: 'Montserrat', sans-serif;

// Ombres
$shadow-card: 0 4px 8px rgba(0, 0, 0, 0.1);
$shadow-hover: 0 6px 12px rgba(0, 0, 0, 0.15);

// Autres
$border-radius: 25px;
$border-radiustwo:15px;
